.App {
  text-align: center;
}

.button_start {
  padding: 6px 12px;
  font-size: 1em;
  background: #f0f0f0;
  border: 2px solid #0A0A0C;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #787878;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 15px;
  max-width: 800px;
  margin: 40px auto;
}